<%= form_for @cliente, { remote: true, multiple: true }  do |f| %>

    <div class="form-group">
      <h4 class="control-label">Datos del cliente:</h4>
    </div>

    <div class="item form-group<%= @cliente.errors[:name].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :name, "Nombre del cliente: " %>
      <div class="input-group">
        <%= f.text_field :name, {:class=> "form-control", :placeholder=>"Introduzca el nombre del cliente..."} %>        
        <%if @cliente.errors[:name].any? %>
          <p class="msj_error mt-2 bg-danger rounded"><%= @cliente.errors[:name].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group<%= @cliente.errors[:address].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :address, "Dirección del cliente: " %>
      <div class="input-group">
        <%= f.text_area :address, {class: "form-control", :placeholder=>"Introduzca la dirección del cliente..."} %>
        <%if @cliente.errors[:address].any? %>
          <p class="msj_error mt-2 bg-danger rounded"><%= @cliente.errors[:address].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group<%= @cliente.errors[:phone].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :phone, "Telefono del cliente: " %>
      <div class="input-group">
        <%= f.text_field :phone, {:class=> "form-control", :placeholder=>"Introduzca el teléfono del cliente.."} %>        
        <%if @cliente.errors[:phone].any? %>
          <p class="msj_error mt-2 bg-danger rounded"><%= @cliente.errors[:phone].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="actions col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
      <%= f.submit @cliente.new_record? ? "Crear Cliente" : "Actualizar Cliente", :class => "btn btn-success"%>
    </div>  
  <% end %>