$("#btn_opened_modal_products").trigger("click");

$('#producto_<%= @product.id %>').replaceWith(
    '<tr id="producto_<%= @product.id %>" ><td><%= image_tag(@product.image.url, size: "50x50", class: "rounded-circle") if @product.image? %></td><td><%= @product.name %></td><td><%= @product.existence %></td><<td>$ <%= @product.price %></td><td><%= @product.category != nil ? @product.category.name : "No tiene categoria" %></td><td><%= @product.supplier != nil ? @product.supplier.name : "No tiene proveedor" %></td><td><%= link_to 'Editar', edit_product_path(@product), html_options = {class: "btn btn-info btn-xs", remote: true} %> <%= link_to "Borrar", @product, remote: true, method: :delete, data: { confirm: "¿Borrar producto: #{@product.name}?"}, class: "btn btn-danger btn-xs" %></td></tr>'
);