$('#btn_closed_modal_proveedor').trigger("click");

$('#tablaProveedores').append(
    '<tr id="proveedor_<%= @proveedor.id %>" style="display:none;"><td><%= @proveedor.name %></td><td><%= @proveedor.address %></td><td><%= @proveedor.phone %></td><td><%= link_to 'Editar', edit_supplier_path(@proveedor), html_options = {class: "btn btn-info btn-xs", remote: true} %> <%= link_to "Borrar", @proveedor, remote: true, method: :delete, data: { confirm: "¿Borrar categoria: #{@proveedor.name}?"}, class: "btn btn-danger btn-xs" %></td></tr>'
);
$('#proveedor_<%= @proveedor.id %>').fadeTo(1000,1);
